# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
tiktoken
langchain==0.0.305
openai
azure-identity
tenacity
jsonschema
azure-search-documents==11.4.0b8
azure-storage-blob
unstructured
unstructured[md]
azure-identity
azure-keyvault-secrets
